- if params[:category].nil?
    - if @page < @books_count / ApplicationHelper::PAGINATION_PER_PAGE
        = link_to t('catalog_page.view_more'), books_path(category: params[:category], sort: params[:sort], page: @page.next), class: 'load-more'
- else
    - if @page < @books.size / ApplicationHelper::PAGINATION_PER_PAGE
        = link_to t('catalog_page.view_more'), books_path(category: params[:category], sort: params[:sort], page: @page.next), class: 'load-more'
