.general-info-wrap.divider-lg#full_description
  %p= t('book_page.book.description')
  %p.lead.small.line-height-2
    = @book.description
    %a.in-gold-500.ml-10{onclick: "readMore()"}= t('book_page.read_less')