.general-info-wrap.divider-lg#short_description
  %p= t('book_page.book.description')
  %p.lead.small.line-height-2
    = @book.description[0..Constants::DESCRIPTION_LENGTH]
    - if @book.description.size > Constants::DESCRIPTION_LENGTH
      = link_to t('book_page.read_more'), @book, class: 'in-gold-500 ml-10', remote: true
