.link-wrap
  - @books.each do |book|
    .col-xs-6.col-sm-3
      .general-thumb-wrap
        .thumbnail.general-thumbnail
          %img.img-shadow.general-thumbnail-img{src: "https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/a98cf15e-2bde-47dd-8b88-d85b15aab9a4/understanding-privacy-shop-opt.png", alt: "design-book"}
          .thumb-hover
            .general-thumb-link-wrap
              %a.thumb-hover-link{href: "/books/#{book.id}"}
                %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
              %a.thumb-hover-link{href: '#' }
                %i.fa.fa-shopping-cart.thumb-icon
      .general-thumb-info
        %p.title= book.title
        %p.font-16.in-gold-500
          €
          = book.price
        %span.divider-sm
        %p.lead.small
          = book.authors_names
