<p><% t('devise.mailer.confirmation_instructions.hello') %> <%= @resource.email %>!</p>

<p><% t('devise.mailer.reset_password_instructions.message_require') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><% t('devise.mailer.reset_password_instructions.ignore_message') %></p>
<p><% t('devise.mailer.reset_password_instructions.message_warning') %></p>
